* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    background-color: #2b4c7e;
    padding: 30px;
}
section {
    max-width: 80%;
    margin: auto;
    padding: 30px;
    margin-bottom: 80px;
    border-radius: 10px;
    background-color: #ececec;
}
section#form-post {
    max-width: 50%;
}
#form-post h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}
#form-post h2 {
    margin-bottom: 10px;
    font-size: 22px;
    font-style: italic;
}
#form-post div label {
    font-weight: 600;
    font-size: 18px;
}
#form-post #titleField,
#form-post #bodyField {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
#form-post #bodyField {
    height: 150px;
    resize: none;
}
#form-post #insertButton {
    padding: 10px 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(108, 199, 16);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}
#form-post #insertButton:hover {
    background-color: rgb(132, 243, 21);
}
div h2 {
    margin-top: 15px;
}
div hr {
    margin-top: 5px;
}
.posts-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    align-content: center;
    gap: 30px;
    overflow-y: scroll;
}
.posts-area::-webkit-scrollbar {
    width: 0px;
}
#posts .post {
    /* background-color: #2b4c7e; */
    border-radius: 20px;
    padding: 20px;
    /* color: #FFF; */
    border: 2px solid #ccc;
}
#posts .post h2{
    margin-bottom: 40px;
}
#posts .post p {
    margin-bottom: 20px;
}
#posts .post a {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: dodgerblue;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: .3s;
    cursor: pointer;
    text-decoration: none;
}
#posts .post a:hover {
    background-color: rgb(0, 128, 255);
}
#posts .post h3 {
    margin: 10px 0px;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    padding-right: 10px;
}